<div class="container">

    <div id="tableContainer">

        <div class="filter-container d-flex mb-2">
            <div class="search-container w-45">
                <label for="">Search</label>
                <input class="border" type="text" placeholder="Search" [(ngModel)]="search" name="search">
            </div>
            <div class="limit-container w-45">
                <label for="">Set Limit</label>

                <select class="border" name="limit" [(ngModel)]="limit" (ngModelChange)="updateLimit(limit)">
                <option value="" selected>Select</option>
                <option *ngFor="let item of limitArray" value="{{item}}" [attr.selected]="limit == item ? true : null">{{item}}</option>
              </select>
            </div>
        </div>

        <app-table [tableHeading]="tableHeading" [tableContent]="tableContent" [pagination]="pagination">
        </app-table>

        <ng-template #tableHeading>
            <th *ngFor="let item of tableMenus" (click)="item.sortBy ? tableSort({title: item.title, sortBy: item.sortBy, array: filterUsersData}) : null" [ngClass]="{'c-pointer': item.sortBy}">
                {{item.title}}
                <i class="fa" [ngClass]="{'fa-sort-amount-asc': service.activeSortBy[item.sortBy]=='asc', 'fa-sort-amount-desc': service.activeSortBy[item.sortBy]=='desc'}"></i>
            </th>

        </ng-template>

        <ng-template #tableContent>
            <tr *ngFor="let item of filterUsersData | filter:search | paginate: { itemsPerPage: limit, currentPage: page, totalItems: totalUsers }">
                <td>{{item.id}}</td>
                <td><img width="50" height="50" [src]="item.avatar" appImg /></td>
                <td>{{item.first_name}} {{item.last_name}}</td>
                <td>{{item.email}}</td>
            </tr>
        </ng-template>

        <ng-template #pagination>
            <pagination-controls (pageChange)="page = $event;onGetUserList(page);"></pagination-controls>
        </ng-template>

    </div>

    <hr>

    <div id="elementid">
        <img class="w-100" appImg [src]="sampleImage" alt="Sample Image">
    </div>

</div>